// Cores
$primary-color: #cc0000;
$secondary-color: #660000;
$background-dark: #0a0a0a;
$background-darker: #000;
$text-color: #d8d8d8;
$text-muted: #666;

// Fontes
$font-primary: 'Special Elite', cursive;
$font-secondary: 'Creepster', cursive;

// Breakpoints
$breakpoint-mobile: 768px;